extends layouts/main.pug

block content
    .image__detail
        .image__detail__title
            h3=image.title
            if loggedUser && image.creator.id === loggedUser.id
                .image__detail__edit
                    a(href=routes.editImage(image._id))
                        p edit
            .image__detail__tags
                |Tags : 
                for tag in image.tag
                    a.image__detail__tags__tag=tag 
                    //테그 클릭하면 검색할 수 있게
        .image__detail__container
            .image__detail__image
                img(src=image.fileUrl)
            .image__detail__social
                .image__detail__social__likes
                    if loggedUser
                        button#jsLike
                            if like === true
                                i.fas.fa-heart#jsHeart
                            else
                                i.far.fa-heart#jsHeart
                    else
                        i.far.fa-heart
                    | : 
                    span#jsLikeNumber=image.likes
                .image__detail__social__views
                    i.fas.fa-eye(style='color: var(--main--color)')
                    | : 
                    span=image.views
            .image__detail__info
                .image__detail__creator Created By 
                    a(href=`/users/${image.creator.name}`) #{image.creator.name}
                .image__detail__createdAt #{image.createdAt.toLocaleDateString()}
                .image__detail__description #{image.description}
            .image__detail__comment
                if image.comments.length === 1
                    span.image__detail__comment-number
                        span#jsCommentNumber 1
                        |  comment
                else
                    span.image__detail__comment-number
                        span#jsCommentNumber=image.comments.length
                        |  comments
                if loggedUser
                    form.add__commment#jsAddComment
                        input(type="text", placeholder="Add a comment")
                ul.image__detail__comments-list#jsCommentList
                    each comment in image.comments.reverse()
                        li
                            span #{comment.creator.name} : #{comment.text}