extends layouts/main.pug

block content
    .user__detail
        if viewedUser
            .user__detail__profile
                .user__detail__profile__info
                    //유저db 완성되면
                    .user__detail__profile__info__avatar
                        if viewedUser.avatarUrl
                            img(src=viewedUser.avatarUrl, class="user__detail__profile__info__avatar__img")
                        else
                            img(src=unknownArtist, class="user__detail__profile__info__avatar__img__unknown")
                    .user__detail__profile__info__name
                        |#{viewedUser.name}
                    //- .user__detail__profile__info__career
                    //-     .user__detail__profile__info__career__header Career
                    //-     for detail in viewedUser.career
                    //-         .user__detail__profile__info__career__detail=detail
                    .user__detail__profile__info__follower
                        | 팔로워 #{viewedUser.follower.length}명
                    .user__detail__profile__info__following
                        | 팔로잉 #{viewedUser.following.length}명
                    //- TODO: 메세지 컨트롤러는 나중에
                    if loggedUser && loggedUser.name !== viewedUser.name
                        button.button__profile 메세지
                        if viewerFollowesViewedUser
                            a(href=routes.unfollow(viewedUser.name))
                                button.button__profile 팔로우취소
                        else
                            a(href=routes.follow(viewedUser.name))
                                button.button__profile 팔로우+
                .user__detail__description
                    |#{viewedUser.description}
                .user__detail__profile__picture
                    //대표사진 불러오기
            if loggedUser && loggedUser.name === viewedUser.name
                .user__detail__profile__picture__edit
                    a(href=`${routes.editProfile(loggedUser.id)}`) 프로필 편집    
            .user__detail__my-images
                .user__detail__my-images__title 내 작품
                .grid__container
                    for image in images.reverse()
                        .imageBlock
                            a.imageBlock__img(href=routes.imageDetail(image.id))
                                img(src=image.fileUrl)
                            a.imageBlock__container(href=routes.imageDetail(image.id))
                            a.imageBlock__profile(href="#")
                                if viewedUser.avatarUrl
                                    img(src=viewedUser.avatarUrl, class="imageBlock__profile")
                                else
                                    img(src=unknownArtist, class="user__detail__profile__info__avatar__img__unknown")
                            h1
                                a.imageBlock__title #{image.title}
                            .imageBlock__btn
                                a.imageBlock__btn__heart(href='#')
                                    i.far.fa-heart(style='color: white')
                                    span 좋아요
                                a.imageBlock__btn__comment(href="#")
                                    i.i.far.fa-comment-dots(style='color: white')
                                    span 댓글
                            a.imageBlock__btn__more(href='#')
                                i.fas.fa-ellipsis-v(style='color: white;')
            .user__detail__like-images 
                .user__detail__like-images__title 좋아요 한 작품
                .grid__container
                    for image in viewedUser.likeImages.reverse()
                        .imageBlock
                            a.imageBlock__img(href=routes.imageDetail(image.id))
                                img(src=image.fileUrl)
                            a.imageBlock__container(href=routes.imageDetail(image.id))
                            a.imageBlock__profile(href="#")
                                img(src=image.fileUrl)
                            h1
                                a.imageBlock__title #{image.title}
                            .imageBlock__btn
                                a.imageBlock__btn__heart(href='#')
                                    i.far.fa-heart(style='color: white')
                                    span 좋아요
                                a.imageBlock__btn__comment(href="#")
                                    i.i.far.fa-comment-dots(style='color: white')
                                    span 댓글
                            a.imageBlock__btn__more(href='#')
                                i.fas.fa-ellipsis-v(style='color: white;')
        else
            p 존재하지 않는 유저입니다