mixin imageBlock(image = {})
    .imageBlock
        a.imageBlock__img(href=routes.imageDetail(image._id))
            img(src=image.fileUrl)
        a.imageBlock__container(href=routes.imageDetail(image._id))
        a.imageBlock__profile(href=`/users/${image.creator.name}`)
            img(src=image.creator.avatarUrl)
        .imageBlock__info
            a.imageBlock__info__title__and__likes(href=routes.imageDetail(image._id)) 
                .imageBlock__info__title #{image.title}
                .imageBlock__info__likes
                    i.far.fa-heart
                    .imageBlock__info__likes__number=image.likes.length
            a.imageBlock__info__artist__and__comments(href=routes.imageDetail(image._id))
                .imageBlock__info__artist #{image.creator.name}
                .imageBlock__info__comments
                    i.far.fa-comment-dots
                    .imageBlock__info__comments__number=image.comments.length