mixin imageBlock(image = {})
    //- .imageBlock
    //-     a(href=routes.imageDetail(image._id))
    //-         img(src=image.fileUrl)
    //-         .imageBlock__info
    //-             a(href=routes.imageDetail(image._id))
    //-                 h1=image.title
    //-                 a.btn(href='#')
    //-                     i.far.fa-heart(style='color:white')
    //-                 a.btn(href='#')
    //-                     i.far.fa-share-square(style='color:white')
    
    .imageBlock
        img(src=image.fileUrl)
        //- .imageBlock__info
        //-     a(href=routes.imageDetail(image._id))
        //-         h1=image.title
        //-         a.btn(href='#')
        //-             i.far.fa-heart(style='color:white')
        //-         a.btn(href='#')
        //-             i.far.fa-share-square(style='color:white')